body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', serif;
}

.main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: top;
  justify-content: center;
  text-align: left;
  background: #f1f1f1;
  color: #040404;
  font-size: 16pt;
  background-image: linear-gradient(#f1f1f1, #f2f0f9, #f3f3f9);
}

p {
float: clear;
margin: 2%;
max-width: 600px;
min-width: 250px;
padding-top: 10px;
}

