body {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
}

.main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #d2d2c2;
  color: #040404;
  font-size: 24pt;
}