body {
  margin: 0;
  padding: 0;
  font-family: 'times new roman', serif;
/*  background-image: linear-gradient(#f1f1f1, #f2f0f9, #f3f3f9);
*/  background-image: linear-gradient(#f1f1f1, #e7e3e2, #d4d7df);

  

 width: 100vw;
  height: 100vh;
}

.main-container {
 
  overflow: hidden;
  align-items: top;
  text-align: left;
  color: #040404;
  font-size: 16pt;
  max-width: fit-content;
  margin-inline: auto;
  padding-bottom: 40px;
}

@media (max-width: 599px) {
    .main-container  {
        font-size: 14pt; /* Smaller font size for mobile devices */
    }

  #footer {
        font-size: 8pt;
    }
  img{
      padding-top: 12px;
      padding-bottom: 12px;
  }
}

@media (min-width: 600px) {
  #footer {
       bottom: 0; 
    }
  }

p {
float: clear;
margin-top: 5px;
max-width: 532px;
min-width: 250px;
padding-top: 10px;
padding-left: 30px;
 padding-right: 14px;
}

#footer {
    position: fixed;
    font-size: 10pt;
    border-top: 1px solid #aaa;
    padding-top: 10px;
    margin-bottom: 14px;
    margin-top: 10px;
    width: 100%;
    float: left;
    clear: both;
    text-align: center;
    font-family: sans-serif;

/* backdrop-filter: blur(30px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(30px); /* For Safari */*/

    }

a{
cursor: pointer;
    text-decoration: underline;
    color: black;
}

a:visited{
  color: black;
}

a:hover{
  background-color: blue;
  color:  white;
}

strong {
   font-family: 'times new roman', serif;
  color: black;
  text-shadow: 0 0 .8em lightsteelblue;
}

img {
  -webkit-filter: drop-shadow(1px 2px 2px #bbb);
  filter: drop-shadow(1px 2px 2px #bbb);
  padding-top: 42px;
  padding-bottom: 24px;
     display: block;
  margin-left: auto;
  margin-right: auto;


}

